# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\El Juano\Documents\Universidad\8vo semestre\proyecto 1\Final\project_domi_foods\Backend\domi_foods\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
