# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Lino Alejandro Munoz\Documents\Alejandro\Unicauca\VIII Semestre\Proyecto I\Web\proyecto_web_back\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
